body{
    background-color: #f0abc1;
}

#head{
    background-clip: content-box;
    background-color: aqua;
    padding: 50px;
}

#una{
    text-align: center;
    font-size: 50px;
}

iframe{
    width: 100%;
    height: 1000px;
}
a{
    text-decoration: none;
    color: black;
    padding: 20%;
    padding-top: 0%;
    text-align: center;
    font-size: 30px;
}
.circle{
    width: 100px;
    height: 100px;
    background: blue;
    border-radius: 50%;
    float: left;
}
img{
    height: 20%;
    width: 20%;
    display: flex;
}
h1{
    margin: 0%;
    font-size: 90px;
    text-align: center;
}
h2{
    margin-top: 50px;
    margin-bottom: 0%;
    font-size: 90px;
}
.aw{
    background-color: aqua;
    border-radius: 100px;
}
#base{
    margin-top: 100px;
    width: 100%;
    height: 1800px;
}
.row1{
    width: 100%;
    height: 300px;
}
.box{
    margin: 1px;
    margin-left: 20px;
    background: linear-gradient(to bottom right, #d733df, #59025e);
    height: 80%;
    width: 160px;
    float: left;
    border: 5px;
    border-style: solid;
    border-color: black;
    text-align: center;
    border-radius: 50px;
}

p{
    margin: 0%;
    font-size: 50px;
    text-align: center;
}


